/* David Gresham.  08/25/2017 IT Skills Mentor Network CSS */

/* Format settings for Header section */

/* Format settings for body */


body {
    background-color: lightblue;
	width: 100%;
	float: left;
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
}
/* H1-H3 format options */
h1 {
    color: black;
	font-family:"Times New Roman", Times, serif;
	text-align: center;
	font-size: 30px;
}
h2 {
    color: blue;
	font-family: "Zapf-Chandery", cursive;
	text-align: center;
	font-size: 26px;
}
h3 {
    color: green;
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
	text-align: left;
}
/* options for unordered list and li for navigation */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid black;
    background-color: lightblue;
}

nav li {
    float: left;
}

nav li a {
    display: block;
	background-color: lightblue;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Navigation item will show red as the mouse is hovered over an option */

nav li a:hover:not(.active) {
    background-color: red;
}

/* create active class for navigation that will show green for active page */

nav li a.active {
    color: white;
    background-color: green;
}
p {
	font-family: "Times New Roman", Times, serif;
	font-size:	16px;
}
p.solid {
	border-style: solid;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	}

/* table formatting options for th, tr and table */

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
}
/* Formating for columns on contact page */

.col1,.col2,.col3
{
	float: left;

}

.col1 { width: 30%; }
.col2 { width: 30%; }
.col3 { width: 30%; }
/* Formatting for columns on Services page */

.servicecol1,.servicecol2,.servicecol3
{
	float: left;
}

.servicecol1 { width: 15%; }
.servicecol2 { width: 40%; }
.servicecol3 { width: 40%; }

footer{
	clear: both;
	padding: 1em 2em;
	background-color: lightblue;
	font-size: 11px;
}
/* Custom ID which establishes dynamic width for columns2 and 3 */
#dynamic {
   text-align:left;
   float: left;
}
#dynamic1 {
   text-align:left;
   padding-left:23px;
   font-size:11px;
   font-weight:bold;
}

/* custom classes for Home Page */

#mission {
	margin: 0%;
	width: 33%;
    float: left;
}
#approach {
	margin: 0%;
	width: 33%;
    float: left;	
}
#giving {
	margin: 0%;
	width: 33%;
    float: left;
}
#founder {
	margin: 0;
	width: 45%;
	float: left;
}
#sponsors {
	margin-right: 2%;
	width: 45%;
	float: right;
}